/* Custom */

* {
    box-sizing: border-box;  
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Comic Sans MS, cursive, sans-serif;
    background-color: #bfbfbf;   
}

/* Header (logo and navigation) */

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 5px;
}

.wrapLogoAndDescription {
    display: flex;
}

.logo {
    width: 12em;
    height: 5em;
    margin-left: 10px; 
}

.description {
    flex-direction: column;
    margin-left: 50px;
    width: 265px;
}

.description h1 {
    color: orangered;
}

.hamburger {
    display: none;   
}

#toggle {
    display: none;
}

.navigation {
    display: flex;
    list-style-type: none;   
    justify-content: flex-end;
}

.navigation a {
    display: block;
    width: 150px;
    padding: 1.5em 1em;
    text-align: center;
    border-radius: 15px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: .5s;
}

.navigation a:link {}

.navigation a:visited {}

.navigation a:hover {
    background-color: orangered;
}

.navigation a:active {
    background-color: white;
    color: orangered;
}

.navigation li {   
    margin: auto;
}

/* Main and Aside */
/* Main */

.wrapMainAndAside {
    width: 90%;
    margin: 10px auto;   
}

.main {
    float: left;
    width: 65%;
    padding: 10px;   
}

.main h3 {
    text-align: center;
    margin: 10px auto;
}

.main img {
     width: 250px;
    margin: 10px;
}

.main img:first-of-type {  
    float: left;
}

.main p img:last-of-type {
    clear: left;
    float: right;
}

.main table {   
    width: 100%;   
}

.main table th {
    background-color: black;
    color: white;   
}

.main table td {
    padding: 5px;
}

.main table tr:nth-child(odd) {
    background-color: gray;
}

/* Main for pages who are not index */

.main2 {
    overflow: hidden;
    margin: 20px auto;   
}

.main2 .section {
    width: 50%;
}

.main2 .section:nth-child(odd) {
    float: left;   
}

.main2 .section:nth-child(even) {
    float: right;   
}

.main2 .section:last-child {
    float: none;
    width: auto;
    clear: both;
}

.main2 .section div {
    width: 90%;
    margin: 20px auto;   
}

.main2 .section img {   
    width: 100%;   
}

.main2 .section label {
    display: none;
}

.main2 .section input {
    display: none;
}

.main3 {
    clear: both;
    position: relative;
}

.main3 .galery-row {
    clear: both;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px 0;
}

.main3 .galery-row img { 
    width: 30%;
    height: 25%;
    border: 5px solid orangered;
    padding: 3px;
    cursor: zoom-in;
}

.main3 .galery-row img:active  {
    position: fixed;
    top: 5%;
    width: 90%;
    height: 90%;
    padding: 0px;
    z-index: 1;
}

.main4 div {
    margin-top: 20px;
}

.main4 h3 {
    text-align: center;
}

.main4 .userData,
.main4 .console { 
    width: 50%;
    float: left;  
}

.main4 .userData {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main4 h5 {
    text-align: center;   
}

.main4 .checkbox {
    width: 100px;
    margin: auto;
}

.main4 .someting {
    clear: both;
    text-align: center;
    padding-top: 20px;
}

.main4 .someting textarea {
    max-width: 70%;
    min-width: 40%;
    max-height: 400px;
    min-height: 200px;
}

.main4 button {
    display: block;
    margin: 20px auto;
    cursor: pointer;
    width: 100px;
    height: 30px;
    border-radius: 10px; 
}

.main4 .gif {
    display: flex;
    flex-direction: row;
    align-content: space-around;
}

.main4 .gif img { 
    margin: 5px;
    display: inline-block;
    width: 33%;
    height: 250px;
    align-content: space-around;
}

/* Aside */

.aside {
    width: 35%; 
    float: right;  
}

.aside h2 {
    text-align: center;
    margin: 20px;
}

.aside h4 {
    text-align: center;
    margin: 20px;
}

iframe {
   margin:20px auto;
    width: 100%;
}

/* Footer */

.footer {
    clear: both;
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    margin-bottom: 5px;
}

.footer a img{
   margin-left: 10px;
}

/* Mobile and tablet screen*/

@media all and (max-width: 988px) {
   
    * {     
        flex-direction: column;       
    }  

/* Header */
    
    .wrapLogoAndDescription a {
        margin: auto;
    }
    
    .description {
        margin: 10px auto;
        text-align: center;
    }
    
    .navigation {
        height: 0px;
        overflow: hidden;
        transition: height .5s;
    }
    
/* Hamburger menu */
    
    .hamburger {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        width: 30px;
        height: 20px;   
    }
    
    .line1, .line2, .line3 {
        position: relative;
        display: block;
        width: 30px;
        height: 3px;
        background-color: white;
        cursor: pointer;
        transition: .5s;
    }
    
    .line1 {
        top: 0px;
    }
    
    .line2 {
        top: 5px;
    }
    
    .line3 {
        top: 10px;
    }
    
    #toggle:checked ~ .navigation {
        height: 210px;
    }

    #toggle:checked + .hamburger .line1 { 
        transform: rotate(45deg);
        top: 8px;
    }

    #toggle:checked + .hamburger .line2 {
        display: none;     
    }

    #toggle:checked + .hamburger .line3 {
        transform: rotate(-45deg);
        top: 5px;  
    } 
   
/* Mein for every pages */
    
    .main {
        width: 100%;
        float: none;
    }
    
    .main img {
        width: 100%;
        float: none;
    }
    
    .aside {
        width: 100%;
        float: none;
    }
    
    .main2 .section {
        clear: both;
        float: none;
        width: auto;
        margin: 10px;
    }
    
    .main2 .section p label {
        display: block;
        color: red;
        cursor: pointer;
    }
    
    .main2 .section p span {
       display: none;
    }
    
    #toggle1:checked ~ .more1,
    #toggle2:checked ~ .more2,
    #toggle3:checked ~ .more3,
    #toggle4:checked ~ .more4,
    #toggle5:checked ~ .more5,
    #toggle6:checked ~ .more6 {
       display: block;
    }
    
    .main4 button {
        flex-direction: row;
    }
    
    .main4 .gif {
        display: flex;
        flex-direction: column;
    }
    
    .main4 .gif img{
        width: 100%;     
    }
}

@media all and (max-width: 600px) {
    .main3 .galery-row {   
        flex-direction: column;
        margin: 0;
    }

    .main3 .galery-row img {
        margin: 10px 0;
        width: 100%;
        height: auto;
    }
    
    .main3 .galery-row img:active {
        position: inherit;
        width: 100%;
        height: 100%;     
    }
    
    .main4 form .userData {
        float: none;
        width: 100%;    
    }
    
    .main4 form .console {
        width: 100%;    
    }
    
    .main4 .someting {
        margin: 0;
    }
    
    .main4 button {
        flex-direction: row;
    }
    
    .main4 .gif img{
        width: 100%;
        height: auto;
    }
}